/* font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif; */

/*
bg: #ebeae5 or #e2f2ef
btn: #69c096; or #68c196 #885df1;
*/

:root {
  --branding-color: #62c495;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #e4f4f1;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

h3 {
  font-size: 48px;
}

.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.hero h1 {
  color: white;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  color: white;
}

.contact-page {
  padding-top: 30px;
  padding-bottom: 0;
}

.contact-page h2 {
  font-size: 56px;
  color: black;
}

.about-page {
  padding: 40px 20px;
}

.content .about-desc {
  color: black;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
}

.content-container {
  padding: 20px 20px;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: left;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  text-align: left;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content .projects-heading {
  font-size: 35px;
}

.content p {
  font-size: 14px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  margin-top: 10px;
  border-color: white;
}

.hero .btn-branding {
  background: var(--secondary-color);
  color: black;
}

.btn-branding:hover {
  border-color: var(--branding-color);
  background-color: whitesmoke;
}

.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.view-project {
  text-align: left;
}

.project-description {
  padding: 120px 60px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.nav-position {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: solid var(--branding-color);
}

hr {
  color: var(--branding-color);
  margin: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;

  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

.footer-links {
  color: var(--branding-color);
}

.charul-img {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: all 150ms ease-in-out;
}

.charul-img:hover {
  transform: scale(1.1);
}

.btn-send {
  background-color: var(--branding-color);
  color: var(--secondary-color);
}

.btn-send:hover {
  border-color: var(--branding-color);
  background-color: whitesmoke;
}

.btn-branding-outline:hover {
  border-color: black;
}

.project-preview-img {
  border-radius: 15px;
}

.work-page-pic {
  transition: all 150ms ease-in-out;
}

.about-page-icons {
  margin: 30px 200px;
}

.btn-send {
  background: var(--secondary-color);
  color: black;
  padding: 5px 25px;
}

.card-thumbnail-primary {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-thumbnail-sm {
  min-width: 100%;
}

.card-thumbnail-sm-opposite {
  min-width: 100%;
}

.card-thumbnail {
  border-radius: 0 24px 24px 0;
}

.card-thumbnail-1 {
  border-radius: 24px 0 0 24px;
}

.card-thumbnail-2 {
  border-radius: 0 24px 24px 0;
}

.card {
  border-radius: 24px;
}

img,
svg {
  vertical-align: middle;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .content-container {
    padding: 0 20px;
  }

  nav a {
    font-size: 12px;
  }

  .charul-img {
    margin-top: 25px;
  }

  .about-page-icons {
    margin: 0;
  }

  .card-thumbnail-primary {
    background-image: none;
  }
  .card-thumbnail-sm {
    border-radius: 0 0 24px 24px;
  }
  .card-thumbnail-sm-opposite {
    border-radius: 24px 24px 0 0;
  }
}
